@font-face {
    font-family: 'saxmonoregular';
    src: url('../typ/saxmono-webfont.eot');
    src: url('../typ/saxmono-webfont.eot?#iefix') format('embedded-opentype'),
         url('../typ/saxmono-webfont.woff') format('woff'),
         url('../typ/saxmono-webfont.ttf') format('truetype'),
         url('../typ/saxmono-webfont.svg#saxmonoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body * {
    box-sizing: border-box;
}

body {
    background: #222;
    color: #bbb;
    font: 1em/1.5 'saxmonoregular', monospace;
    -webkit-font-smoothing: antialiased;
    margin: 1em;
}

.light body {
    background: #eee;
    color: #333;
}

footer {
    clear:left;
}

a {
    color: #ccc;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    background: #666;
    border-radius: 2px;
    color: #222;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    text-transform: capitalize;
}

nav a:hover,
pre .chord:hover,
.chords img:hover {
    background: #fff;
    box-shadow: 0 0 10px rgba(255,255,255,0.25);
}

.light a {
    background: #ccc;
}

header h1,
header h2 {
    margin: 0;
}

pre {
    font-family: 'saxmonoregular', monospace;
    line-height: 1.75;
    overflow: visible;
    position: relative;
    white-space: pre-line;
}

pre h3 {
    margin: 0 0 -1.5em;
    line-height: 1.5em;
}

.meta .chord,
pre .chord {
    background: #666;
    border-radius: 10px;
    padding: 0 6px;
    color: #222;
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    margin: 0 0.25em;
    top: inherit;
}

.light .meta .chord,
.light pre .chord {
    background: #ccc;
}

pre em {
    color: #666;
}

/* Home */

.home {
    color: #666;
}

.all-songs nav {
    background: #222;
    padding-top: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.all-songs nav a {
    display: inline-block;
    margin: 0.25em 0;
}

.all-songs .listing, 
.recent-songs .listing {
    list-style: none;
    padding: 0;
}

.home li:hover {
    background: #313131;
    color: #ccc;
}

.home li:hover a {
    color: #fff;
}

.home ol li {
    line-height: 1.4;
    padding: 0.25em 0.5em;;
}

.home .updated {
    display: block;
}


/* Chart */

.chart nav li:first-child a::before {
    content: '\2190';
    margin-right: 0.5em;
}

.chords img,
.chords .no-chord {
    background: #666;
    border-radius: 2px;
    width: 80px;
}

.light .chords img {
    background: #ccc;
}

.chords h2 {
    font-size: 1em;
}

.chords .no-chord {
    background-color: transparent;
    border: 1px dashed #666;
    display: inline-block;
    font-size: small;
    height: 128px;
    opacity: 0.5;
    position: relative;
    text-align: center;
    vertical-align: top;
}

.chords .no-chord p {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -25%;
}

.chord {
    cursor: pointer;
    position: relative;
}

.popup {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(255,255,255,0.25);
    margin-top: -30px;
    position: absolute;
    width: 50px;
    z-index: 10;
}

.light .popup {
    background: #ccc;
}

.no-diagrams .chords {
    display: none;
}

@media only screen and (min-width: 35em) {

    .song-indexes {
        display: flex;
        justify-content: space-between;
    }

    .home a.recent {
        display: none;
    }

    .all-songs {
        flex: 2 1 66%;
    }

    .recent-songs {
        flex: 1 1 33%;
        margin-left: 1em;
    }

    .pinned .chords {
        height: 100%;
        overflow: auto;
        padding: 0 10px;
        position: fixed;
        right: 0;
        top: 0;
        width: 190px;
    }

    .pinned header,
    .pinned pre {
        margin-right: 190px;
    }

}
