body {
    background: #fff;
    color: #000;
    font: 80% "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body > nav {
    display: none;
}

h1 {
    font-size: 1.2em;
}

h2 {
    font-size: 1em;
    font-weight: normal;
}

.chords h2 {
    font-weight: bold;
}

pre {
    column-count: 2;
    column-gap: 2em;
    font: 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 2em;
    margin-bottom: 0;
    text-wrap: normal;
}

pre h3 {
    break-after: avoid;
}

.meta {
    position: absolute;
    top: 0;
    right: 8px;
}

pre sup {
    border: 1px solid #999;
}

pre em {
    font-style: normal;
}

pre .chord,
.meta .chord {
    border: 0;
    background: none;
    padding: 0;
    margin: 0;
}

pre sup.chord {
    /*margin-top: -0.5em;*/
    /*position: absolute;*/
    border: 1px solid #999;
    border-radius: 2px;
    margin: 0 0.15em;
    padding: 2px 5px;
}

.meta .chord {
    font-weight: normal;
}

.pinned h1,
.pinned pre {
    margin-right: 0;
}

.pinned .chords {
    padding: inherit;
    position: inherit;
    width: inherit;
}

.chords img {
    background: none;
    width: 50px;
}
